body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4f5878;
}

#calculator{
    font-family: Arial;
    background: #01031a;
    border-radius: 15px;
    max-width: 20vw;
}

h3{
    text-align: center;
    color: white;
}

#display{
    width: 80%;
    margin: 10px;
    padding: 20px;
    font-size: 3rem;
    text-align: right;
    border: none;
    border-radius: 10px;
    background: rgb(252,251,251);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.7vw;
    padding: 20px;
}

button{
    width: 4vw;
    height: 3vw;
    border-radius: 20%;
    border: none;
    background: white;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: #ffd9e5;
}

button:active{
    background: rgb(250,250,246);
}

.operator-btn{
    background: lightsteelblue;
}

#clearbtn{
    background: deeppink;
}

.operator-btn:hover{
    background: honeydew;
}

.operator-btn:active{
    background: black;
}